/* @media screen and (max-width:576) {
    .course-image {
        width: 100%;
    }
} */

.first-civer-pic {
    filter: brightness(50%);
}

.social-icon>div {
    padding-right: 20px;

}

.social-icon>div>a {
    color: white;
}

.company-images>img {
    padding-right: 20px;
}