.first-civer-pic {
    filter: brightness(50%);
}

.social-icon>div {
    padding-right: 20px;

}

.social-icon>div>a {
    color: white;
}

.company-images>img {
    padding-right: 15px;
}

.modal-background {
    background-color: #289BDE;
}