.first-cover-pic {
    filter: brightness(50%);
}

.cover-text {
    margin-bottom: 170px;
}

.social-icon>div {
    padding-right: 20px;

}

.social-icon>div>a {
    color: white;
}

.company-images>img {
    padding-right: 15px;
}

.modal-background {
    background-color: #289BDE;
}



/* Media Qeeries */

@media screen and (max-width:576px) {

    .my-cover-pic {
        height: 250px;
    }

    .cover-text {
        margin: 0;
        height: 240px;
    }
}

/* For Mid Sizes */

@media screen and (min-width:577px) and (max-width:820px) {
    .cover-text {
        margin: 0;
        height: 240px;
    }

    .my-accordian {
        padding: 50px 0;
    }
}